@font-face {
  font-family: 'Linux Biolinum O';
  src: url('biolinum-regular.woff') format('woff');
}

* {
  font-family: 'Linux Biolinum O', sans-serif;
  font-size: 16pt;
}

body {
  display: block;
  margin: 0;
  min-height: 700px;
  min-width: 1010px;  
  background-color: skyblue;
}

div {
  margin: 5px;
  padding: 5px;
}

h1 {
  font-size: 18pt;
}

a:visited {
  color: blue;
}

input, select {
  box-shadow: none;
}

input::placeholder {
  color: #5f5f5f;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

#flexContainer {
  display: flex;
  padding: 10px;
}

#logo {
  margin: 0;
  width: 110px;
  height: 25px;
}

#upButton {
  position: fixed;
  width: 30px;
  height: 40px;
  right: 10%;
  bottom: 10px;
}

#upButton:hover {
  cursor: pointer;    
}

#logTable th {
  font-size: 12pt;
  background-color: rgb(235,235,235);
}

#logTable td {
  font-size: 11pt;
  text-align: center;
}

.infoMessage {
  color: blue;
  font-size: 16pt;
}

.exceptionMessage {
  color: #fd4747;
  font-size: 16pt;
  transition: opacity 2s;
}

.exceptionField {
  box-shadow: 0px 0px 8px red;
}

.disabledLabel {
  color: #c1c1c1;
}

.operationControl {
  padding: 3px;
  font-size: 18pt;
  font-weight: bolder;
}

.optionsButton {
  font-size: 16pt;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.menuOption {
  display: flex;
  background-color: gainsboro;
  width: 145px;
  height: 25px;
  cursor: pointer;
  color: black;
}

.menuOption > span {
  margin: auto;
}

.menuOption:hover {
  background-color: #d6e7fe;
  color: blue;
}

.paneOption {
   font-size: 18pt;
}

.acolhidoFrame {
  display: inline-block;
  float: left;
  width: 160px;
  height: 330px;
  border: 3px solid skyblue;
}

.acolhidoFrame:hover {
  background-color: #d6e7fe;
  cursor: pointer;
}

.acolhidoFrame > img {
  display: block;
  margin: auto;
  width: 100px;
  height: 115px;
}

.acolhidoField {
  margin-top: 0;
  margin-bottom: 0;
  width: 155px;
  background-color: transparent;
  font-size: 14pt;
}